<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap w/ Parcel</title>
    <link rel="stylesheet" href="scss/styles.scss">
    <link rel="stylesheet" href="./static/css/styles.css">
    <script type="module" src="js/main.js"></script>
     {{bootstrap.load_css()}}
  </head>


<body>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Flask app</span>
      </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="{{url_for('home')}}" class="nav-link active" aria-current="page" shape="circle" >Home</a></li>
            {% if not current_user.is_authenticated: %}
        <li class="nav-item"><a href="{{url_for('register')}}" class="nav-link">Sign Up</a></li>
        <li class="nav-item"><a href="{{url_for('login')}}" class="nav-link">Login</a></li>
          {% else %}

            <li class="nav-item"><a href="#" class="nav-link"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor " class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
            </svg>   {{current_user.name}}</a></li>
            <li class="nav-item"><a href="{{url_for('logout')}}" class="nav-link">LogOut</a></li>
<!--            <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">-->
<!--      <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">-->

          {% endif %}
      </ul>
    </header>